body{
  font-family: Orbitron ;
  background-color:#0f1519
}

h1{
  color:#F9F9F9
}

h2{
  color:#F9F9F9
}

p{
  color:#ff4655
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ff4655;
  color: #ffffff;
}

/* Add a color to the active/current link CURRENTLY NOT WORKING */
.topnav a.active {
  background-color: #ff4655;
  color: #fffff;
}
