/* nav bar */
.topnav {
  position: relative;
  background-color: #000000;
  overflow: hidden;
}

.topnav a {
  float:left;
  color: #ffffff;
  text-align: center;
  font-family: 'Orbitron';
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width:150px;
  transition-duration: 0.5s;
}

.topnav a:hover {
  border-bottom-style: solid;
  border-bottom-color: #ff4655;
  transition-duration: 0.5s;
  width:170px;
}
/* end of nav bar */

/* search bar */
.searchbar{
  text-align: center;
}

/* body font, size, colour and text decoration */
body{
  font-family: Helvetica, sans-serif;
  background-color:#0f1519;
  margin: 0px;
}


h1{
  color:#F9F9F9;
}

h2{
  color:#ff4655;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}


h3{
  color:#F9F9F9;
  font-size: 9px;
  font-family:sans-serif;
}

p{
  color:#ff4655;
  font-family: 'Rubik', sans-serif;
}


a{
  color:#ff4655;
  text-decoration: none;
}

a:hover{
  border-bottom-style: solid;
  border-bottom-color: #ff4655;
  transition-duration: 0.15s;
}

.agents a{
  text-decoration: underline;
}

b{
  color:#ff4655;
  font-size:50px;
  font-family: 'Ubuntu', sans-serif;
}

.PC{
  width: 850px;
}

/* end of body */

/* grid */
.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  background-color: inherit;
  width: 100%;
  overflow-x: hidden;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}

.AgentImages{
  width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.25s;
}
/* end of grid */

/* error page */
*{
    transition: all 0.6s;
}

#error{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}

.error_return{
  color:#ff4655;
  font-size: 21px;
  text-decoration: underline;
}
/* end of error page */

/* alligning for contacts page */
.left{
  float: left;
  margin-right: 20px;
}

.contact{
  justify-content: center;
  display: grid;
}


input{
  padding:10px;
  border:0;
  width: 100px;
}

input[type=email]{
  width: 240px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[id=search]{
  width: 170px;
}

textarea{
  padding:10px;
  border:0;
  width: 240px;
  height: auto;
}
/* end of contacts page */

/* footer */
.footer{
  position: fixed;
  bottom: 0%;
  width:100%;
  height:60px;
  overflow: hidden;
  float:bottom;
}

.footer a:hover{
  color: #ffffff;
}
/* end of footer */
