body{
  font-family: Orbitron ;
  background-color:#0f1519;
  margin: 0px;
}

.AgentImages{
  width: 10%;
  height: auto;
}

.WeaponImages{
  width: 300px;
  height: auto;
}

h1{
  color:#F9F9F9
}

h2{
  color:#F9F9F9
}

p{
  color:#ff4655
}

a{
  color:#ff4655
}

b{
  color:#ff4655;
  font-size:50px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ff4655;
  color: #ffffff;
}
