{% extends 'layout.html' %}
{% block content %}

<center>
  <b> Michael's Home Page</b>
  <h2> My Top 4</h2> <!-- show's my favourite agent, weapon, skin collection and knife -->
</center>

<div class="grid-container">
  <div>
    <a href="/agents/{{homea[0]}}">
      <h2> {{homea[1]}} </h2>
      <img src="/static/images/agents/{{homea[4]}}">
    </a>
  </div>

  <div>
    <a href="/weapons/{{homew[0]}}">
      <h2> {{homew[1]}} </h2>
      <img src="/static/images/weapons/{{homew[3]}}">
    </a>
  </div>


  {% for homes in homes%}
  <div>
    <a href="/skins/{{homes[3]}}">
      <h2> {{homes[4]}} </h2>
      <img src="/static/images/skincollection/{{homes[5]}}">
    </a>
  </div>
  <div>
    <a href="/skins/{{homes[3]}}">
      <h2> {{homes[4]}} {{homes[7]}} </h2>
      <img src="/static/images/skins/{{homes[4]}}{{homes[7]}}.png">
    </a>
    </div
  {% endfor %}


</div>
{% endblock %}
