{% extends 'layout.html' %}
{% block content %}

<!-- Title -->
<center>
  <b> Skin Collections</b>
  {% include 'search.html' %}
</center>

<!-- grid for all Skin Collection Images from a loop-->
<div class="grid-container">
  {% for skincollection in skincollection %}
  <div>
      <a href="/skins/{{skincollection[0]}}">
        <h2>{{skincollection[3]}}</h2>
        <img src="/static/images/skincollection/{{skincollection[2]}}" class = "SkinCollectionImages" alt="Skin Collection Images" width="400" height="195">
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}
